<header class="header">
  <h1>todos</h1>
  <input #f class="new-todo" (keyup.enter)="createTodo(f)" required placeholder="What needs to be done?" autofocus>
</header>

<section class="main">
  <input class="toggle-all" id="toggle-all" type="checkbox" (click)="toggleAll()">
  <label for="toggle-all">Mark all as complete</label>
  <ul class="todo-list">
    <li #todoElement *ngFor="let todo of todos" [class.completed]="todo.done" [class.editing]="todo.editing">
      <div class="view">
        <input class="toggle" type="checkbox" [checked]="todo.done" (change)="toggleTodo(todo)">
        <label (dblclick)="todo.editing = true; setFocusOn(todoElement); ">{{todo.title}}</label>
        <button class="destroy" (click)="destroyTodo(todo)"></button>
      </div>
      <input type="text" class="edit" [value]="todo.title" (keyup.enter)="todo.editing = false;" (blur)="todo.editing = false; updateTodoTitle(todo, $event.target.value);" (keyup.esc)="$event.target.value = todo.title; todo.editing = false;">
    </li>
  </ul>
</section>

<footer class="footer">
  <span class="todo-count"><strong>{{getActiveItems().length}}</strong> items left</span>
  <ul class="filters">
    <li>
      <a routerLink="/todos" routerLinkActive="selected" [routerLinkActiveOptions]="{exact:
true}">All</a>
    </li>
    <li>
      <a routerLink="/todos/active" routerLinkActive="selected">Active</a>
    </li>
    <li>
      <a routerLink="/todos/completed" routerLinkActive="selected">Completed</a>
    </li>
  </ul>
  <button class="clear-completed" (click)="clearCompleted()">Clear completed</button>
</footer>
